@using VegeRest.Core;
@model List<Order>

<h2>My Orders</h2>

<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Waiter"
       asp-action="Add" role="button">Add order</a>
</div>
<br />

<div class="row">
    @foreach (var order in Model)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <a>@order.OrderNumber</a>
                    </h2>
                    <div>
                        <p class="font-weight-normal">@order.Product</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-danger" asp-controller="Waiter"
                           asp-action="Remove" asp-route-orderNum="@order.OrderNumber"
                           role="button">
                            Delivered
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>